<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" type="image/png" href="icon.png">
        <meta charset="utf-8" />
        <title>Classement des meilleurs</title>
        <link rel="stylesheet" href="css/bootstrap.min.css" />
        <link rel="stylesheet" href="css/mikuia.css" />
        <link rel="stylesheet" href="css/new.css" />
        <!-- <script src="handlebars-v4.1.2.js"></script> -->
        <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700|Roboto:400,300,500|Hind+Vadodara:300,400,500&amp;subset=all" rel="stylesheet" type="text/css">
    </head>
    <body>
        <nav class="navbar mikuia-navbar mikuia-navbar-extended">
            
            <div class="container">
                <div class="mikuia-navbar-content">
                    <a><img src="icon.png" width="100" height="100" class="mikuia-navbar-icon"></a>

                    <div class="mikuia-navbar-lines-left">
                        <div class="mikuia-navbar-links">

                            <a href="https://twitch.tv/chatdesbois" target="_blank" style="line-height: 20px"><img src="twitch.png" width="40" height="40" ></a>
                            <a href="https://www.youtube.com/user/Missclochette22/" target="_blank" style="line-height: 57px"><img src="yt.png" width="40" height="40" ></a>
                            <a href="https://www.instagram.com/unejeune/" target="_blank" style="line-height: 57px"><img src="ig.png" width="40" height="40" ></a>
                            <a href="https://twitter.com/Chatdesbois_" target="_blank" style="line-height: 57px"><img src="twitter.png" width="40" height="40" ></a>
                            <br>

                            <a name="home"> Classments: </a>
                            <!-- <a href="/RIP_Mikuia" name="home">RIP Mikuia</a> -->
                            {{#each dates}}
                            <a href="/{{this}}" name="home">{{this}}</a>
                            {{/each}} 
                            <br>


                            <div class="mikuia-navbar-title">
                            {{!-- <div > --}}
                                <a href="/global" name="home">Global</a>
                                <a href="/mensuel" name="home">Mensuel</a>
                                

                            </div>
                            <div>
                            {{!-- <a href="https://twitch.tv/chatdesbois" style="line-height: 20px, float:left; margin-left:0px;"><img src="twitch.png" width="40" height="40" ></a>
                            <a href="https://www.youtube.com/user/Missclochette22/" style="line-height: 57px;margin:0px;"><img src="youtube.png" width="57" height="40" ></a>
                            <a href="https://www.instagram.com/unejeune/" style="line-height: 57px;margin:0px;"><img src="ig.png" width="40" height="40" ></a> --}}
                            </div>
                                                            {{!-- <br style="line-height: 100px;"> --}}

                            {{!-- style="line-height: -100px;" --}}
                            {{!-- <br style="line-height: -100px;"> --}}
                            {{!-- <a href="https://twitch.tv/chatdesbois"><img src="twitch.png" width="40" height="40" class="mikuia-navbar-icon"></a> --}}

                        </div>
                    </div>
                </div>
            </div>
        </nav> 



        {{!-- <div style="background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('https://static-cdn.jtvnw.net/jtv_user_pictures/50f8dcb922855be1-profile_banner-480.jpeg'); " class="mikuia-navbar-background"></div> --}}
        {{!-- <div style="background: url('https://static-cdn.jtvnw.net/jtv_user_pictures/50f8dcb922855be1-profile_banner-480.jpeg'); " class="mikuia-navbar-background"></div> --}}
        <div style="background: url('bg3.png'); " class="mikuia-navbar-background"></div>
    <div class="container">
        <div class="mikuia-page-padding">
            <div class="row animation-fade-in-down">
                <div class="col-md-12">
                <h1 class="mikuia-page-header-text text-white">Classement {{global}} chez Chatdesbois</h1>
                {{#if ligneMois}}
                <h2 class="mikuia-page-header-text text-white">Pour le mois de {{mois}} {{annee}}</h2></div>
                {{/if}}

            </div>
            <div class="row animation-fade-in-up">
                <div class="col-md-12 mikuia-page-card">
                    <!-- Classement -->
                    <div id="classement">
                        {{#each lines}}
                        <div class="mikuia-card mikuia-card-ranking" ; style="opacity: {{this.opacity}}";>
                            <div style="flex-basis: 70px;" class="mikuia-card-block mikuia-card-ranking-block">
                                <h6 class="text-muted">Rank</h6>
                                <h3>#{{ this.rank }}</h3>
                            </div>
                            <div style="flex-basis: 300px;" class="mikuia-card-block">
                                <div class="mikuia-card-user">
                                    <div class="mikuia-card-user-avatar">
                                        <img src="{{this.avatar_url}}" width="32" height="32">
                                    </div>
                                    <div class="mikuia-card-user-name">
                                        {{!-- <h4 style="color: #999;">{{this.username}}</h4> --}}
                                        <h4 style="color: {{this.color}};">{{this.username}}</h4>
                                    </div>
                                </div>
                            </div>
                            <div style="flex-basis: 150px;" class="mikuia-card-block align-right">
                                <h6 class="text-muted">Experience</h6>
                                <h3>{{this.experience}}</h3>
                            </div>
                            <div style="flex-basis: 50px;" class="mikuia-card-block align-right">
                                <h6 class="text-muted">Level</h6>
                                <h3>
                                <span style="font-weight: 300;">
                                    {{!-- <div style="border-color: #009fff;" class="level mini-level"> --}}
                                    <div style="border-color: #{{this.lvlcolor}};" class="level mini-level">
                                        <span class="mini-level-text">{{this.level}}</span>
                                    </div>
                                </span>
                                </h3>
                            </div>
                            <div style="flex-basis: 70px;" class="mikuia-card-block align-right">
                                <h6 class="text-muted">Progress</h6>
                                <h3>{{this.progress}}%</h3>
                            </div>
                        </div>
                        {{/each}}

                    </div>
                    <!-- /Classement -->
                </div>
            </div>
        </div>
    </div>
</div>
<div class="mikuia-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <small class="text-muted">lauriys <!--Laura Lynn--> largely made this.
                </small>
            </div>

            <div class="col-md-3 align-right">
                <small class="text-muted"><a href="http://mikuia.tv/about">About Mikuia</a>
                </small>
            </div>       

            <div class="col-md-3">
                <small class="text-muted">Énorme merci à l'arnaqueur aka L'iple aka le sang : TheIpple
                </small>
            </div>
            <!-- <div class="col-md-3 align-right"></div> -->
<!--             <div class="col-md-3 align-right">
                <small class="text-muted"><b>Art by </b><a href="https://howlingneko.deviantart.com">HowlingNeko </a>
                </small>
            </div> -->
            <div class="col-md-3 align-right">
                <small class="text-muted"><a href="https://reddit.com/r/cats">Cats</a>
                </small>
            </div>  
        </div>
    </div>
</div>

</body>
</html>