    <div class="container">
        <div class="mikuia-page-padding">
            <div class="row animation-fade-in-down">
                <div class="col-md-12">
                <h1 class="mikuia-page-header-text text-white">Classement {{global}} chez Chatdesbois</h1>
                {{#if ligneMois}}
                <h2 class="mikuia-page-header-text text-white">Pour le mois de {{mois}} {{annee}}</h2></div>
                {{/if}}

            </div>
            <div class="row animation-fade-in-up">
                <div class="col-md-12 mikuia-page-card">
                    <!-- Classement -->
                    <div id="classement">
                        {{#each lines}}
                        <div class="mikuia-card mikuia-card-ranking" ; style="opacity: {{this.opacity}}";>
                            <div style="flex-basis: 70px;" class="mikuia-card-block mikuia-card-ranking-block">
                                <h6 class="text-muted">Rank</h6>
                                <h3>#{{ this.rank }}</h3>
                            </div>
                            <div style="flex-basis: 300px;" class="mikuia-card-block">
                                <div class="mikuia-card-user">
                                    <div class="mikuia-card-user-avatar">
                                        <a href="/user/{{this.username}}"><img src="{{this.avatar_url}}" width="32" height="32"></a>
                                    </div>
                                    <div class="mikuia-card-user-name">
                                        {{!-- <h4 style="color: #999;">{{this.username}}</h4> --}}
                                        <h4><a href="/user/{{this.username}}" style="color: {{this.color}}">{{this.username}}</a></h4>
                                    </div>
                                </div>
                            </div>
                            <div style="flex-basis: 150px;" class="mikuia-card-block align-right">
                                <h6 class="text-muted">Experience</h6>
                                <h3>{{this.experience}}</h3>
                            </div>
                            <div style="flex-basis: 50px;" class="mikuia-card-block align-right">
                                <h6 class="text-muted">Level</h6>
                                <h3>
                                <span style="font-weight: 300;">
                                    {{!-- <div style="border-color: #009fff;" class="level mini-level"> --}}
                                    <div style="border-color: #{{this.lvlcolor}};" class="level mini-level">
                                        <span class="mini-level-text">{{this.level}}</span>
                                    </div>
                                </span>
                                </h3>
                            </div>
                            <div style="flex-basis: 70px;" class="mikuia-card-block align-right">
                                <h6 class="text-muted">Progress</h6>
                                <h3>{{this.progress}}%</h3>
                            </div>
                        </div>
                        {{/each}}

                    </div>
                    <!-- /Classement -->
                </div>
            </div>
        </div>
    </div>
</div>
{{!-- </body> --}}
