<div class="container">
<div class="mikuia-page-padding-extended animation-fade-in-up">
    <div class="row">
        <div class="col-md-12">
            <img src={{userInfo.logo}} width="128" height="128" class="mikuia-profile-avatar">
            <div class="mikuia-profile-bar">
                <div class="mikuia-profile-bar-left">
                    <div class="mikuia-profile-bar-badges"></div>
                    <h3 class="mikuia-profile-bar-name" style="color:{{userInfo.color}}">{{userInfo.username}}</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="mikuia-page-card no-border-radius">
        <div class="row">
            <div class="col-xs-4">
                <div class="mikuia-page-category-heading" style="font-size: 1.5em">Palmarès</div>
                <div class="mikuia-level-badge-container customRankingBadgeMedals">
                    {{#each dateInfo}}
                    <div class="badge-alex small">
                        <a href='/{{this.dateUrl}}'>
                            {{#if this.podium}}
                            <div class="profile"><img src="/{{this.rankint}}.png" width="75" height="75">
                            {{else}}
                                {{#if this.top10}}
                                <div class="profile" style="font-size: 4em; color: white; background-color: #{{this.top10color}}"><span>{{this.rankint}}</span>
                                {{else}}
                                <div class="profile"><span>{{this.rank}}</span>
                                {{/if}}                                    
                            {{/if}}
                            </div>
                            <div class="level" style="border-color: #{{this.lvlColor}}"><span>{{this.lvl}}</span></div>
                            <div class="title"><span>{{this.date}}</span></div>
                        </a>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</div>
</div>